.productDisplay {
    margin: 0;
    padding: 0;
}

.buttonsContainer .btn {
    width: 150px;
    height: 50px;
    padding: 2px;
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
}

.label {
    font-weight: 700;
}

/* products.css */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.searchInput
{
    border-radius: 15px !important;
 
}
.productsList
{
 
  margin-left: 175px !important;
  width: auto !important;

}
.addProductButton
{
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
}